SUBSYSTEM=="usb", ACTION=="bind", ATTRS{idVendor}=="258a", ATTRS{idProduct}=="0016", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}+="keyboard-layout.service"
