#!/bin/bash

/usr/bin/prime-offload
tmux has-session -t test || tmux new-session -d -s test &
xset r rate 200 120

export PATH="$HOME/.local/bin:$PATH"
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
