
feh --bg-scale ~/Pictures/av6popo691w71.png
setxkbmap us_intl
nm-applet &
#
"$HOME/.config/polybar/launch.sh"
xsetroot -cursor_name left_ptr &
xset r rate 200 120

export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

xbanish &
dunst &
flameshot &
picom &
aw-qt &
kbd_layout &

# dbus-update-activation-environment --systemd DISPLAY
# eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
# export SSH_AUTH_SOCK
